#main_block {
padding-bottom: 500px;
}

$layout_horizontal_breakpoints: (
  /* "use mobile layout under this size" */
  'Never': 0px,
  'Tablets': 1280px,
  'All device sizes': 99999px);
$layout_horizontal_breakpoint: map-get($layout_horizontal_breakpoints, $layout_horizontal_breakpoint);

$hide_elements_on_media_pages_vertical_breakpoint: 900px;

/* when converting from older themes with px sizing, ensure minimum margins are set  */
$page_sides_vw_margin: max($page_sides_vw_margin, 2vw);
$page_top_bottom_vh_margin: max($page_top_bottom_vh_margin, 2vh);

$left_column_right_margin: max($page_sides_vw_margin / 2, 4vw);

body.nav_visible {
  overflow: hidden;
}

#ws_page {
position: relative;
  box-sizing: border-box;
  min-height: 100vh; /* Fallback if CSS variable is not understood */
  min-height: calc(100 * var(--vh)); /* Use --vh instead of vh for devices with optional toolbars */
  padding-top: 60px;
}


/* NAVIGATION BLOCK */
$_navigation_block_background_color: presence($navigation_block_background_color, $main_background_color);
$_navigation_block_text_color: presence($navigation_block_text_color, $main_text_color);
$_navigation_block_link_color: presence($navigation_block_link_color, $main_text_color);
$_navigation_block_link_hover_color: presence($navigation_block_link_hover_color, $main_link_hover_color);

#header_block {
  margin: -$page_top_bottom_vh_margin 0-$page_sides_vw_margin 0; /* edge to edge */
}

#block_navib {
  @include block($align: center);
  font-family: $navigation_block_font_family;
  font-weight: $navigation_block_font_weight;
  margin-bottom: $base_line_height;
  z-index: $cookies_acceptance_bar_zindex + 1;
overflow-y: unset !important;

  @include colors(
    $text_color: $_navigation_block_text_color,
    $link_color: $_navigation_block_link_color,
    $link_hover_color: $_navigation_block_link_hover_color)

  $_menu_btn_size: 44px;
  #nav_toggle {
    $_menu_icon_size: 24px;
    @include toggable-drawer-callout($align: 'center');
    @include toggable-drawer-callout-icon(
      $layout: 'def2',
      $size: $_menu_icon_size,
      $opened_selector: 'body.nav_visible &');

    box-sizing: border-box;
    position: fixed;
    height: $_menu_btn_size;
    width: $_menu_btn_size;
    top: calc(#{$page_top_bottom_vh_margin} + (#{line-height-for($logo_font_size)} - #{$_menu_btn_size}) / 2);
    right: calc(#{$page_sides_vw_margin} - #{($_menu_btn_size - $_menu_icon_size) / 2});
    @media screen and (min-width: $phone_horizontal_breakpoint) {
      /* keep icon slightly offset */
      right: $page_sides_vw_margin;
    }
    @include colors(
      $text_color: enhance-color($main_text_color, presence($logo_background_color, $main_background_color)),
      $hover_color: $main_link_hover_color);

    body.nav_visible & {
      @include colors(
        $text_color: enhance-color($_navigation_block_text_color, $_navigation_block_background_color),
        $hover_color: $_navigation_block_link_hover_color);
    }
  }

  #toggable_nav {
    @include toggable-drawer(
      $layout: 'right',
      $position: 'fixed',
      $width: 100%,
      $height: 100vh,
      $vertical_align: 'center',
      $visibility_selector: 'body.nav_visible &');
    padding: $base_line_height $base_line_height 0 $base_line_height;
    @include colors(
      $background_color: $_navigation_block_background_color,
      $background_color_opacity: $navigation_block_background_opacity,
      $slideshow_overlay: ( 'background_color': 'semi-transparent' ));
  }

  #component_logo {
    @include logo-component(
      $align: center,
      $display: 'full_width',
      $img_width: $left_column_and_logo_img_rem_width,
      $font_family: $logo_font_family,
      $font_weight: $logo_font_weight,
      $font_size: $logo_font_size,
      $text_transform: $logo_text_transform,
      $text_color: $logo_text_color,
      $background_color: $logo_background_color);
    padding: $page_top_bottom_vh_margin calc(#{$page_sides_vw_margin} + #{$base_line_height} + #{$_menu_btn_size}) $base_line_height;
  }

  #component_menu {
    @include menu-component(
      $layout: 'vertical',
      $align: center,
      $display: 'full_width',
      $sub_menu_indent: 0,
      $separators: 'hidden',
      $font_size: $menu_and_locale_relative_font_size,
      $sub_menu_font_size: $sub_menu_font_size,
      $link_active_color: presence($navigation_block_active_menu_color, $main_link_color),
      $underline_active: if($menu_active_item_underline == 'Yes', true, false),
      $text_transform: $menu_item_text_transform);
    margin: 0 0 $base_line_height 0;
  }

  #component_local {
    @include locale-switcher-component(
      $align: center,
      $display: 'full_width',
      $font_size: $menu_and_locale_relative_font_size);
    margin: 0 0 $base_line_height 0;
  }

  #component_links {
    @include external-links-component(
      $align: center,
      $display: 'full_width');
    margin: 0 0 $base_line_height 0;
  }


  #component_searc {
    @include search-component(
      $align: center,
      $display: 'full_width',
      $input_color: presence($search_component_input_color, currentColor));
    margin: 0 0 $base_line_height 0;

    @include component-title {
      display: none;
    }
  }

  #component_hdtxt {
    @include text-component(
      $align: center,
      $display: 'full_width');
    margin: $base_line_height 0 $base_line_height 0;
  }
}


/* Main content */
#component_mainc {
  @include main-component(
    $max_text_block_width: $max_text_block_rem_width,
    $page_meta_layout: 'page_title_nav_left_actions_right',
    $page_meta_options: ( 'bottom_case_position': 'fixed_bottom', 'bottom_case_padding': 0 $page_sides_vw_margin ) );

  @media screen and (max-width:$phone_horizontal_breakpoint) {
    @include main-component-offset-content(
      $medias_list: true,
      $slideshow: true,
      $left: -$page_sides_vw_margin,
      $right: -$page_sides_vw_margin);

    @include slideshow-any-content-offset(
      $left: $page_sides_vw_margin,
      $right: $page_sides_vw_margin);
  }
}

/* Comments */
#component_commt {
  @include comments-component;
  margin: (2 * $base_line_height) 0;
}

/* FOOTER */



/* Adjust slideshow overal element position to avoid overlaps */
#ws_page.page_slideshow-site_bg {
  @include slideshow-overlay-content-offset(
    $top: $page_top_bottom_vh_margin,
    $bottom: $page_top_bottom_vh_margin,
    $right: $page_sides_vw_margin,
    $left: $page_sides_vw_margin);
}


@media screen and (min-width: $layout_horizontal_breakpoint) {
  /* large enough to switch to two-column layout */
  body.nav_visible {
    overflow: auto;
  }



  #header_block {
    position: absolute;
    width: $left_column_and_logo_img_rem_width;
    margin: 0px 0px 0px 60px;
    z-index: 2;
  }

  #block_navib {
    @include block($align: center, $scrollbar: 'left');
    max-height: 100%;
    margin-bottom: 0;
    z-index: auto; /* Needed by Safari to render search component */

    @if ($_navigation_block_background_color != $main_background_color) and ($navigation_block_background_opacity > 0) {
      @include colors(
        $background_color: $_navigation_block_background_color,
        $background_color_opacity: $navigation_block_background_opacity);
      padding: (0.5 * $base_line_height) $base_line_height 0;
      box-sizing: border-box;
    }

    #nav_toggle {
      display: none;
    }

    #toggable_nav {
      @include toggable-drawer(
        $layout: 'none',
        $position: static,
        $height: auto,
        $vertical_align: 'cancel_center');
      @include colors($background_color: transparent);
      padding: 0;
    }

    #component_logo {
      @include component($align: $navigation_block_internal_alignment);
      @if $logo_background_color and ($logo_background_color != '') and ($logo_background_color != $_navigation_block_background_color) {
        padding: $base_line_height 1rem;
      } @else {
        padding: 0;
      }
      padding-bottom: $logo_margin_bottom;
      margin-bottom: $logo_margin_bottom;
      border-bottom: 1px solid #515151;
    }

    #component_menu {
      @include menu-component(
        $layout: 'vertical',
        $align: $navigation_block_internal_alignment,
        $sub_menu_indent: $left_column_sub_menu_indent);
    }

    #component_local {
      @include locale-switcher-component($align: $navigation_block_internal_alignment);
    }

    #component_links {
      @include external-links-component($align: $navigation_block_internal_alignment);
    }

    #component_hdtxt {
      @include text-component($align: $navigation_block_internal_alignment);
    }

    #component_searc {
      @include search-component(
        $layout: 'drawer',
        $tab_text_color: $search_drawer_tab_text_color,
        $tab_background_color: $search_drawer_tab_background_color,
        $input_color: $search_component_input_color,
        $background_color: $search_component_background_color,
        $background_color_opacity: $search_component_background_opacity);
      margin-bottom: 0;

      @include component-title {
        display: block;
      }
    }
  }


  #component_mainc {
    @include main-component-page-meta(
      $layout: 'page_title_nav_left_actions_right',
      $bottom_case_position: 'fixed_bottom',
      $bottom_case_left: calc(#{$left_column_and_logo_img_rem_width} + #{$left_column_right_margin}));
  }


.front-page > #main_block {
margin-top: 83px;
}


#component_fttxt  {
width: 100%;
  }

#main_block:not(.front-page > #main_block)  {
margin-left: 450px;
margin-right: 60px;
  }

#block_navib #component_menu li.menu_separator_item {
    visibility: visible;
    height: 10px;
}

/* Adjust slideshow overal element position to avoid overlaps */
  #ws_page.page_slideshow-site_bg {
    @include slideshow-overlay-content-offset(
      $left: calc(#{$left_column_and_logo_img_rem_width} + #{$left_column_right_margin + $page_sides_vw_margin}));
}
}
